// Header
.w-full.m-0.p-0.bg-cover.bg-bottom(style="background-image:url('cover.jpg'); height: 60vh; max-height:460px;")
  .container.max-w-4xl.mx-auto.pt-16.text-center.break-normal(class='md:pt-32')
    // Title
    p.text-white.font-extrabold.text-3xl(class='md:text-5xl')
      | &#x1F47B; Ghostwind CSS
    p.text-xl.text-gray-500(class='md:text-2xl') Welcome to my Blog
// Container
.container.px-4.max-w-6xl.mx-auto.-mt-32(class='md:px-0')
  .mx-0(class='sm:mx-6')
    // Nav
    nav.mt-0.w-full
      .container.mx-auto.flex.items-center
        .flex.pl-4.text-sm(class='w-1/2')
          ul.list-reset.flex.justify-between.flex-1.items-center(class='md:flex-none')
            li.mr-2
              a.inline-block.py-2.px-2.text-white.no-underline(class='hover:underline' href='post.html') POST
            li.mr-2
              a.inline-block.text-gray-600.no-underline.py-2.px-2(class='hover:text-gray-200 hover:underline' href='#') LINK
            li.mr-2
              a.inline-block.text-gray-600.no-underline.py-2.px-2(class='hover:text-gray-200 hover:underline' href='#') LINK
            li.mr-2
              a.inline-block.text-gray-600.no-underline.py-2.px-2(class='hover:text-gray-200 hover:underline' href='post_vue.html') POST_VUE
        .flex.justify-end.content-center(class='w-1/2')
          a.inline-block.text-gray-500.no-underline.text-center.h-10.p-2.avatar(class='hover:text-white hover:text-underline md:h-auto md:p-4' data-tippy-content='@twitter_handle' href='https://twitter.com/intent/tweet?url=#')
            svg.fill-current.h-4(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32')
              path(d='M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z')
          a.inline-block.text-gray-500.no-underline.text-center.h-10.p-2.avatar(class='hover:text-white hover:text-underline md:h-auto md:p-4' data-tippy-content='#facebook_id' href='https://www.facebook.com/sharer/sharer.php?u=#')
            svg.fill-current.h-4(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32')
              path(d='M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z')
    .bg-gray-200.w-full.text-xl.text-gray-800.leading-normal.rounded-t(class='md:text-2xl')
      // Lead Card
      .flex.h-full.bg-white.rounded.overflow-hidden.shadow-lg
        a.flex.flex-wrap.no-underline(href='post.html' class='hover:no-underline')
          .w-full.rounded-t(class='md:w-2/3')
            img.h-full.w-full.shadow(src='https://source.unsplash.com/collection/494263/800x600')
          .w-full.flex.flex-col.flex-grow.flex-shrink(class='md:w-1/3')
            .flex-1.bg-white.rounded-t.rounded-b-none.overflow-hidden.shadow-lg
              p.w-full.text-gray-600.text-xs.pt-6.px-6(class='md:text-sm') GETTING STARTED
              .w-full.font-bold.text-xl.text-gray-900.px-6 &#x1F44B; Welcome fellow Tailwind CSS and Ghost fan
              p.text-gray-800.font-serif.text-base.px-6.mb-5
                | This starter template is an attempt to replicate the default Ghost theme &quot;Casper&quot; using Tailwind CSS and vanilla Javascript.
            .flex-none.mt-auto.bg-white.rounded-b.rounded-t-none.overflow-hidden.shadow-lg.p-6
              .flex.items-center.justify-between
                img.w-8.h-8.rounded-full.mr-4.avatar(data-tippy-content='Author Name' src='http://i.pravatar.cc/300' alt='Avatar of Author')
                p.text-gray-600.text-xs(class='md:text-sm') 1 MIN READ
      // /Lead Card
      // Posts Container
      .flex.flex-wrap.justify-between.pt-12.-mx-6
        // 1/3 col
        .w-full.p-6.flex.flex-col.flex-grow.flex-shrink(class='md:w-1/3')
          .flex-1.bg-white.rounded-t.rounded-b-none.overflow-hidden.shadow-lg
            a.flex.flex-wrap.no-underline(href='#' class='hover:no-underline')
              img.h-64.w-full.rounded-t.pb-6(src='https://source.unsplash.com/collection/225/800x600')
              p.w-full.text-gray-600.text-xs.px-6(class='md:text-sm') GETTING STARTED
              .w-full.font-bold.text-xl.text-gray-900.px-6 Lorem ipsum dolor sit amet.
              p.text-gray-800.font-serif.text-base.px-6.mb-5
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
          .flex-none.mt-auto.bg-white.rounded-b.rounded-t-none.overflow-hidden.shadow-lg.p-6
            .flex.items-center.justify-between
              img.w-8.h-8.rounded-full.mr-4.avatar(data-tippy-content='Author Name' src='http://i.pravatar.cc/300' alt='Avatar of Author')
              p.text-gray-600.text-xs(class='md:text-sm') 1 MIN READ
        // 1/3 col
        .w-full.p-6.flex.flex-col.flex-grow.flex-shrink(class='md:w-1/3')
          .flex-1.bg-white.rounded-t.rounded-b-none.overflow-hidden.shadow-lg
            a.flex.flex-wrap.no-underline(href='#' class='hover:no-underline')
              img.h-64.w-full.rounded-t.pb-6(src='https://source.unsplash.com/collection/3106804/800x600')
              p.w-full.text-gray-600.text-xs.px-6(class='md:text-sm') GETTING STARTED
              .w-full.font-bold.text-xl.text-gray-900.px-6 Lorem ipsum dolor sit amet.
              p.text-gray-800.font-serif.text-base.px-6.mb-5
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ip Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
          .flex-none.mt-auto.bg-white.rounded-b.rounded-t-none.overflow-hidden.shadow-lg.p-6
            .flex.items-center.justify-between
              img.w-8.h-8.rounded-full.mr-4.avatar(data-tippy-content='Author Name' src='http://i.pravatar.cc/300' alt='Avatar of Author')
              p.text-gray-600.text-xs(class='md:text-sm') 1 MIN READ
        // 1/3 col
        .w-full.p-6.flex.flex-col.flex-grow.flex-shrink(class='md:w-1/3')
          .flex-1.bg-white.rounded-t.rounded-b-none.overflow-hidden.shadow-lg
            a.flex.flex-wrap.no-underline(href='#' class='hover:no-underline')
              img.h-64.w-full.rounded-t.pb-6(src='https://source.unsplash.com/collection/539527/800x600')
              p.w-full.text-gray-600.text-xs.px-6(class='md:text-sm') GETTING STARTED
              .w-full.font-bold.text-xl.text-gray-900.px-6 Lorem ipsum dolor sit amet.
              p.text-gray-800.font-serif.text-base.px-6.mb-5
                | Lorem ipsum eu nunc commodo posuere et sit amet ligula.
          .flex-none.mt-auto.bg-white.rounded-b.rounded-t-none.overflow-hidden.shadow-lg.p-6
            .flex.items-center.justify-between
              img.w-8.h-8.rounded-full.mr-4.avatar(data-tippy-content='Author Name' src='http://i.pravatar.cc/300' alt='Avatar of Author')
              p.text-gray-600.text-xs(class='md:text-sm') 1 MIN READ
        // 1/2 col
        .w-full.p-6.flex.flex-col.flex-grow.flex-shrink(class='md:w-1/2')
          .flex-1.bg-white.rounded-t.rounded-b-none.overflow-hidden.shadow-lg
            a.flex.flex-wrap.no-underline(href='#' class='hover:no-underline')
              img.h-full.w-full.rounded-t.pb-6(src='https://source.unsplash.com/collection/3657445/800x600')
              p.w-full.text-gray-600.text-xs.px-6(class='md:text-sm') GETTING STARTED
              .w-full.font-bold.text-xl.text-gray-900.px-6 Lorem ipsum dolor sit amet.
              p.text-gray-800.font-serif.text-base.px-6.mb-5
                | Lorem ipsum eu nunc commodo posuere et sit amet ligula.
          .flex-none.mt-auto.bg-white.rounded-b.rounded-t-none.overflow-hidden.shadow-lg.p-6
            .flex.items-center.justify-between
              img.w-8.h-8.rounded-full.mr-4.avatar(data-tippy-content='Author Name' src='http://i.pravatar.cc/300' alt='Avatar of Author')
              p.text-gray-600.text-xs(class='md:text-sm') 1 MIN READ
        // 1/2 col
        .w-full.p-6.flex.flex-col.flex-grow.flex-shrink(class='md:w-1/2')
          .flex-1.flex-row.bg-white.rounded-t.rounded-b-none.overflow-hidden.shadow-lg
            a.flex.flex-wrap.no-underline(href='#' class='hover:no-underline')
              img.h-full.w-full.rounded-t.pb-6(src='https://source.unsplash.com/collection/764827/800x600')
              p.w-full.text-gray-600.text-xs.px-6(class='md:text-sm') GETTING STARTED
              .w-full.font-bold.text-xl.text-gray-900.px-6 Lorem ipsum dolor sit amet.
              p.text-gray-800.font-serif.text-base.px-6.mb-5
                | Lorem ipsum eu nunc commodo posuere et sit amet ligula.
          .flex-none.mt-auto.bg-white.rounded-b.rounded-t-none.overflow-hidden.shadow-lg.p-6
            .flex.items-center.justify-between
              img.w-8.h-8.rounded-full.mr-4.avatar(data-tippy-content='Author Name' src='http://i.pravatar.cc/300' alt='Avatar of Author')
              p.text-gray-600.text-xs(class='md:text-sm') 1 MIN READ
        // 2/3 col
        .w-full.p-6.flex.flex-col.flex-grow.flex-shrink(class='md:w-2/3')
          .flex-1.bg-white.rounded-t.rounded-b-none.overflow-hidden.shadow-lg
            a.flex.flex-wrap.no-underline(href='#' class='hover:no-underline')
              img.h-full.w-full.rounded-t.pb-6(src='https://source.unsplash.com/collection/325867/800x600')
              p.w-full.text-gray-600.text-xs.px-6(class='md:text-sm') GETTING STARTED
              .w-full.font-bold.text-xl.text-gray-900.px-6 Lorem ipsum dolor sit amet.
              p.text-gray-800.font-serif.text-base.px-6.mb-5
                | Lorem ipsum eu nunc commodo posuere et sit amet ligula.
          .flex-none.mt-auto.bg-white.rounded-b.rounded-t-none.overflow-hidden.shadow-lg.p-6
            .flex.items-center.justify-between
              img.w-8.h-8.rounded-full.mr-4.avatar(data-tippy-content='Author Name' src='http://i.pravatar.cc/300' alt='Avatar of Author')
              p.text-gray-600.text-xs(class='md:text-sm') 1 MIN READ
        // 1/3 col
        .w-full.p-6.flex.flex-col.flex-grow.flex-shrink(class='md:w-1/3')
          .flex-1.bg-white.rounded-t.rounded-b-none.overflow-hidden.shadow-lg
            a.flex.flex-wrap.no-underline(href='#' class='hover:no-underline')
              img.h-full.w-full.rounded-t.pb-6(src='https://source.unsplash.com/collection/1118905/800x600')
              p.w-full.text-gray-600.text-xs.px-6(class='md:text-sm') GETTING STARTED
              .w-full.font-bold.text-xl.text-gray-900.px-6 Lorem ipsum dolor sit amet.
              p.text-gray-800.font-serif.text-base.px-6.mb-5
                | Lorem ipsum eu nunc commodo posuere et sit amet ligula.
          .flex-none.mt-auto.bg-white.rounded-b.rounded-t-none.overflow-hidden.shadow-lg.p-6
            .flex.items-center.justify-between
              img.w-8.h-8.rounded-full.mr-4.avatar(data-tippy-content='Author Name' src='http://i.pravatar.cc/300' alt='Avatar of Author')
              p.text-gray-600.text-xs(class='md:text-sm') 1 MIN READ
      // / Post Content
    // Subscribe
    .container.font-sans.bg-green-100.rounded.mt-8.p-4.text-center(class='md:p-24')
      h2.font-bold.break-normal.text-2xl(class='md:text-4xl') Subscribe to Ghostwind CSS
      h3.font-bold.break-normal.font-normal.text-gray-600.text-base(class='md:text-xl') Get the latest posts delivered right to your inbox
      .w-full.text-center.pt-4
        form(action='#')
          .max-w-xl.mx-auto.p-1.pr-0.flex.flex-wrap.items-center
            input.flex-1.appearance-none.rounded.shadow.p-3.text-gray-600.mr-2(type='email' placeholder='youremail@example.com' class='focus:outline-none')
            button.flex-1.mt-4.block.appearance-none.bg-green-500.text-white.text-base.font-semibold.tracking-wider.uppercase.py-4.rounded.shadow(type='submit' class='md:mt-0 md:inline-block hover:bg-green-400') Subscribe
    // /Subscribe
    // Author
    .flex.w-full.items-center.font-sans.p-8(class='md:p-24')
      img.w-10.h-10.rounded-full.mr-4(src='http://i.pravatar.cc/300' alt='Avatar of Author')
      .flex-1
        p.text-base.font-bold.text-base.leading-none(class='md:text-xl') Ghostwind CSS
        p.text-gray-600.text-xs(class='md:text-base')
          | Tailwind CSS version of Ghost&apos;s Casper theme by
          a.text-gray-800.no-underline.border-b-2.border-green-500(class='hover:text-green-500' href='https://www.tailwindtoolbox.com') TailwindToolbox.com
      .justify-end
        button.bg-transparent.border.border-gray-500.text-xs.text-gray-500.font-bold.py-2.px-4.rounded-full(class='hover:border-green-500 hover:text-green-500') Read More
    // /Author
footer.bg-gray-900
  .container.max-w-6xl.mx-auto.flex.items-center.px-2.py-8
    .w-full.mx-auto.flex.flex-wrap.items-center
      .flex.w-full.justify-center.text-white.font-extrabold(class='md:w-1/2 md:justify-start')
        a.text-gray-900.no-underline(class='hover:text-gray-900 hover:no-underline' href='#')
          | &#x1F47B;
          span.text-base.text-gray-200 Ghostwind CSS
      .flex.w-full.pt-2.content-center.justify-between(class='md:w-1/2 md:justify-end')
        ul.list-reset.flex.justify-center.flex-1.items-center(class='md:flex-none')
          li
            a.inline-block.py-2.px-3.text-white.no-underline(href='#') Active
          li
            a.inline-block.text-gray-600.no-underline.py-2.px-3(class='hover:text-gray-200 hover:underline' href='#') link
          li
            a.inline-block.text-gray-600.no-underline.py-2.px-3(class='hover:text-gray-200 hover:underline' href='#') link
          li
            a.inline-block.text-gray-600.no-underline.py-2.px-3(class='hover:text-gray-200 hover:underline' href='#') link
script(src='https://unpkg.com/popper.js@1/dist/umd/popper.min.js')
script(src='https://unpkg.com/tippy.js@4')
script.
  //Init tooltips
  tippy('.avatar')
|     &copy; 2022 GitHub, Inc.
|     Terms
|     Privacy
|     Security
|     Status
|     Docs
|     Contact GitHub
|     Pricing
|     API
|     Training
|     Blog
|     About
